.carousel-indicators .active {
    height: 30px;
    background-color: var(--primary-colour);
}

.carousel-indicators li {
    width: 30px;
    height: 30px;
    background-color: white;
    opacity: 1;
}

.top-text {
    max-width: 1140px;
    margin: 0 auto;
    /* padding: 20px; */
}

/* .top-text h1 {
    font-family: 'Playfair Display', serif;
    color: var(--primary-colour);
} */

/* .top-text p {
    font-family: 'Lato', sans-serif;
    color: var(--secondary-colour);
} */

.card {
    max-width: 1140px;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    margin-bottom: 50px;
}

.card-header {
    border: none;
    padding: 0px 9px 12px;
    background-color: transparent;
}

.card-icons {
    display: flex;
    padding: 0px 20px;
}

i.fa-brands,
.fa-facebook-f {
    padding: 5px 10px;
}

p.icon-text {
    /* font-family: 'Lato'; */
    color: black;
    text-transform: uppercase;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    padding: 10px 40px;
    border-radius: 10px 10px 00px 0px;
    color: var(--secondary-colour) !important;
}

.nav-link .active {
    width: 118px;
}

 .nav-link.disabled {
    color: var(--primary-colour) !important;
} 

.card-body {
    display: flex;
    padding: 50px;
    background-color: white;
}

.card-body img {
    max-width: 238px;
}

.card-text {
    /* font-family: 'Lato', sans-serif; */
    /* color: var(--secondary-colour); */
    padding: 0px 20px;
    text-align: left;
}

@media only screen and (max-width: 900px) {
    .card {
        margin: 40px;
    }
    .nav-item {
        width: 100%;
    }
    .card-body {
        flex-direction: column;
        padding: 10px;
    }
    img.one {     
        order: 2;
        margin: 0 auto;
    }
}