html, 
body {
    height: 100%;
}

body {
    background-color: var(--background-color) !important;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--footer-colour);
    color: var(--secondary-colour);
    font-family: 'Lato', sans-serif;
}

footer a {
    font-family: 'Lato', sans-serif;
    color: var(--secondary-colour);
}

svg {
    color: var(--secondary-colour);
}

.wrapper {
    flex: 1 0 auto;
}

