.carousel-indicators .active {
    height: 30px;
    background-color: $primary;
}

.carousel-indicators li {
    width: 30px;
    height: 30px;
    background-color: white;
    opacity: 1;
}

.top-text {
    max-width: 1140px;
    margin: 0 auto;
}

.card {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    margin-bottom: 50px;
}

.card-header {
    border: none;
    padding: 0px 9px 12px;
    background-color: transparent;
}

.card-icons {
    display: flex;
    position: absolute;
    top: 250px;
    left: 330px;
}

i.fa-brands,
.fa-facebook-f {
    padding: 5px 10px;
}

p.icon-text {
    color: black;
    text-transform: uppercase;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    padding: 10px 40px;
    border-radius: 10px 10px 00px 0px;
    color: $secondary !important;
}

.nav-link .active {
    width: 118px;
}

 .nav-link.disabled {
    color: $primary !important;
    // box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
} 

.card-body {
    display: flex;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
}

.card-body img {
    max-width: 238px;
}

.card-text {
    padding: 0px 20px;
    text-align: left;
}

@media only screen and (max-width: 800px) {
    .card {
        margin: 40px;
    }
    .card-body {
        flex-direction: column;
        padding: 0px;
        background-color: $nav-colour;
        padding-bottom: 40px;
    }
    .nav-item {
        width: 100%;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: $primary !important;
    }
    li.nav-item a {
        font-size: 19px;
    }
    a.nav-link.disabled.one {
        top: 450px;
    }
    a.nav-link.disabled.one,
    a.nav-link.disabled.two {
        position: absolute;
        background-color: white;
        width: 100%;
        padding-left: 40px;
        box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
    }
    a.nav-link.disabled.two {
        top: 490px;
        border-radius: 10px;
    }
    .card-icons {
        position: relative;
        order: 3;
        margin: 0 auto;
        left: 0;
        top: 0;
        padding: 20px;
    }
    .card-content {
        padding: 0px;
        background-color: $nav-colour !important;
        border-top: 1px solid $primary;
    }
    img.one {     
        order: 3;
        margin: 0 auto;
    }
    .top-text {
        padding: 20px;
    }
}

@media only screen and (max-width: 550px) {
    a.nav-link.disabled.one {
        top: 520px;
    }
    a.nav-link.disabled.two {
        top: 560px;
    }
}

@media only screen and (max-width: 400px) {
    .card-text {
        padding: 0px;
    }
    a.nav-link.disabled.one {
        top: 640px;
    }
    a.nav-link.disabled.two {
        top: 680px;
    }
}