html, 
body {
    height: 100%;
}

body {
    background-color: $background-colour !important;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: $footer-colour;
    color: $secondary;
    font-family: 'Lato', sans-serif;
}

footer a {
    font-family: 'Lato', sans-serif;
    color: $secondary;
}

svg {
    color: $secondary;
}

.wrapper {
    flex: 1 0 auto;
}


@media only screen and (max-width: 560px) {
    footer {
        padding-top: 50px;
    }
    .footer-icons {
        margin: 0 auto;
        position: absolute;
        bottom: 40px;
    }
}


