h1 {
    font-family: 'Playfair Display', serif;
}

h2,
p,
a {
    font-family: 'Lato', sans-serif;
}

h1 {
    color: $primary;
    font-size: 34px;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    color: black;
    font-size: 20px;
}

p,
a {
    color: $secondary;
    font-size: 18px;
}